<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Baltimore Open Air</h2>
                <hr class="light">
                <p class="text-faded">We’ve built 250 weather and air quality stations for the Baltimore area. The stations measure temperature, relative humidity, ozone, and nitrogen dioxid- we call them WeatherCubes. They are stationed throughout the Baltimore area and send information in near-real time to the internet.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
