<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet The Team</h2>
                <hr class="primary">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="no-padding" id="portfolio">
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/wb.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <a href="#The Data" class="project-category text-faded">The Data</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://igert.wse.jhu.edu/anna-scott/" class="portfolio-box">
                    <img src="img/portfolio/anna.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Anna Scott, meteorology & software development
                            </div>
                            <div class="project-name">
                                Based off research on heat in Baltimore Anna spearheaded the project and is currently testing out the sensors and working on the network code.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://azdoud.github.io/" class="portfolio-box">
                    <img src="img/portfolio/yan.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Yan Azdoud, mechanical engineering
                            </div>
                            <div class="project-name">
                                Yan designed the structure that houses our WeatherCubes and is testing and sourcing the electrical components.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://water.jhu.edu/index.php/people/christopher-d-kelley/" class="portfolio-box">
                    <img src="img/portfolio/chris.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Chris Kelley, electrical engineering
                            </div>
                            <div class="project-name">
                                Based off work for his Open Source Turbidimeter , Chris is developing circuit boards and electronics for the Weather Cubes.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
