<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WeatherCubes</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3> The Box</h3>
                    <p class="text-muted">The boxes were designed by Dr. Yan Azdoud and Chris Kelly and built by Baltimoreans, with help from the non-profit and Baltimore Open Air Partner, CivicWorks. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>The Data</h3>
                    <p class="text-muted">Our WeatherCubes meausure temperature, humidity, ozone, and nitrogen dioxide, using calibrated sensors. They post their results to the web once per day via wifi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Project Press</h3>
                    <p class="text-muted">WeatherCubes and Baltimore Open Air have been featured in <a href="http://www.baltimoresun.com/news/maryland/environment/bs-md-air-monitor-network-20170731-story.html">Baltimore Sun</a>, <a href="https://hub.jhu.edu/2017/06/27/big-data-air-quality-sensor-climate-science/">JHU's The Hub</a>, <a href="http://www.baltimorefishbowl.com/stories/baltimore-wins-epa-contest-fund-crowdsourced-air-quality-monitoring-system/">Baltimore Fish Bowl</a>, and <a href="https://technical.ly/baltimore/2016/12/19/air-quality-sensors-epa/">Technical.ly </a></p>.
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>What's Next?</h3>
                    <p class="text-muted">Soon, individuals and families can use the WeatherCube's data to make informed decisions about pollutant exposures and their health. 
		</div>
	</div>
